<div class="container">
    <h3>Athentification au site </h3>
    <form  >
        <label> Donnez  votre login</label>
        <input class="form-control" type="text" formControlName=""> <br>
        <label> Donnez votre mot de passe </label>
        <input class="form-control"  type="textr" formControlName="">
        <label> verifier mot de passe</label>
        <input class="form-control" type="text" formControlName=""> <br>
       
        <button class= "btn btn-success m" routerLink="/nosparfum" >connecter</button>
    </form>

</div>
