.d{
    background-color: rgb(237, 224, 234);
    width: 1530px;
    height: 450px;

}
p{ text-align: center;}
h4{ text-align: center;}
.a { margin-left: 100px;margin-top:220px}
.b { margin-left: 120px;margin-top:220px}
.c{ margin-left: 160px;margin-top:220px}
.e{ margin-left: 180px;margin-top:220px}

.x{background-color: rgb(237, 224, 234);width: 1520px;height: 800px}