
<app-menu></app-menu>
<div class="d" style="display: flex;">
<div class="a"> 
     <h4> <i class="fa-solid fa-clock"></i> livraison gratuite </h4> 
    <p> 24 ou 48 les jours ouvrés </p>
</div>

 <div class="b"> 
   <h4> <i class="fa-solid fa-truck"></i> livraison offerte  </h4>
   <p> dés 60£ d'achat  </p>
</div>

<div class="c"> 
    <h4>  <i class="fa-sharp fa-solid fa-sack-dollar"></i> paiement securisé  </h4>
   <p>    carte bancaire , chéque , espece </p>
  
 </div>
 
 <div class="e"> 
    <h4> <i class="fa-sharp fa-solid fa-credit-card"></i> avantage fidelité   </h4>
    <p> 5% de votre commande sur votre prochain achat  </p>
 </div>

</div>
 <div class="x">
    <div style="text-align:center;padding:1em 0;"> <h2><a style="text-decoration:none;" href="https://www.zeitverschiebung.net/fr/country/tn"><span style="color:gray;">Heure actuelle</span><br />Tunisie</a></h2> <iframe src="https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=fr&size=large&timezone=Africa%2FTunis" width="100%" height="140" frameborder="0" seamless></iframe> </div>

 </div>
