img {
        border-radius: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
     
      }
.B { 
    color: black;
    margin-left: 30px;}
nav {
height: 80px;
width:100px}

.m{  width:1500px;}


.f{margin-left:20px; }

    .btn-warning{ background-color:  rgb(242, 225, 238); border-color: rgb(242, 225, 238);}

   