
 <nav class="navbar navbar-expand-lg navbar-light bg-light m  ">
  <span class="navbar-brand mb-0 h1 B " > Scentastique</span>
<span class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ">
        <li class="nav-item ">
          <a class="nav-link active " aria-current="page" routerLink="/accueil">Acceuil</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link active " aria-current="page" routerLink="/listparfum"> liste parfum</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link active " aria-current="page" routerLink="/aproposdenous">A propos de nous </a>
        </li>
     </ul>
     
    </span>
    
<span>
  
  <form class="form-inline">
    <input class="form-control mr-sm-2  " type="search" placeholder="rechercher..." aria-label="Search" style="width:300px;"></form>
  </span>
<button class="btn btn-dark btn-sm" type="submit">Rechercher</button>



 



    <span class="collapse navbar-collapse navbar-nav nav-item" id="navbarNav"> 
      <button type="button" class=" btn btn-warning  btn-sm" routerLink = "/inscrire" style="margin-left: 200px;"> <i class="fa-solid fa-right-to-bracket"></i> s'inscrire </button>
  
  
    </span>
 </nav>
