body{
    background-image: url('fond22.jpg'); height: 800px;  width:1300px; margin-left: 120px;} 
  div {width: 500px;height: 400px;}

  h4{
    font-style: italic;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(56, 4, 38);
  }